@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --font1: "Marcellus", serif;
        
    --font2: "Oswald", sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100%vh;
}
header{
    background-color: #D44233;
    color: #F7E200;
    text-align: center;
    padding: 0;
}
header > h1{
    margin: 0;
    font-family: var(--font2);
    font-size: 10vw;
    padding-bottom: 0 ;

}

header > p{
    padding-bottom: 20px;
    margin-top: 0 ;
    font-size: 20px;
}

a{
    color: #F7E200;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
div{
    background-color: #D44233;
}

section{
    padding-top: 10vh ;
    padding-bottom: 10vh ;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--font1);
    font-size: 2vw;
}

section.normal{
    color: #D44233;
    background-color: rgb(31, 31, 31);
    box-shadow: unset 6px 6px 15px 0px rgba(0, 0, 0, 0.418);
}

section.image{
    color: white;
    background-color: black;
    box-shadow: inset 6px 6px 15px 0px rgba(0, 0, 0, 0.329);
    background-size: cover;
    background-attachment: fixed;

}

section.image > p{
    background-color: rgba(26, 26, 26, 0.123);
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
}

section#img01{
    background-image: url('imagens/pic1.jpg');
    background-position:right;
    
}

section#img02{
    background-image: url('imagens/pic2.jpg');
    background-position: center;
    
}

section >p {
    padding-bottom: 2em;
}

footer{
    background-color: #D44233;
    text-align: center;
    color: #F7E200;
    font-size: 2vw;
}

footer > p{
    padding : 4px;
}
